<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="enquire">

<resultMap type="com.itkey.dao.CalendarDAO" id="CalendarDAO"></resultMap>
   <insert id="enroll" parameterType="CalendarVO">
      
      INSERT INTO calendar_tbl(
      	phone
      , cal_year
      , cal_month
      , cal_day
      , cal_time
      , cal_memo
      , time_builder
      )VALUES(
      #{phone}
      , #{calYear}
      , #{calMonth}
      , #{calDay}
      , #{calTime}
      , #{calMemo} 
      , #{timeBuilder}
      )
   </insert>

   <select id="getAllCalendar"  resultType="CalendarVO">
      SELECT * from calendar_tbl
   </select>
   
   <select id="getCalendar" parameterType="CalendarVO" resultType="CalendarVO">
      SELECT * from calendar_tbl
      WHERE cal_year = #{calYear}
      AND cal_month = #{calMonth}
      AND phone = #{phone}
   </select>

<!--    <select id="getDate" parameterType="CalendarVO" resultType="CalendarVO"> -->
<!--       SELECT * from calendar_tbl -->
<!--       WHERE cal_year = #{calYear} -->
<!--       AND cal_day = #{calDay} -->
<!--       AND phone = #{phone} -->
<!--    </select> -->
   
   <select id="getMemo" parameterType="CalendarVO" resultType="CalendarVO">
      SELECT * FROM calendar_tbl
      WHERE cal_year = #{calYear}
      AND cal_month = #{calMonth}
      AND cal_day = #{calDay}
      AND phone = #{phone}
   </select>
   
    <delete id="deleteMemo" parameterType="CalendarVO">
      DELETE FROM calendar_tbl
      WHERE cal_no = #{calNo} 
    </delete>
    
    <update id="modifyMemo" parameterType="CalendarVO">
      UPDATE calendar_tbl 
      SET 
         cal_memo = #{calMemo},
         cal_time = #{calTime}
      WHERE cal_no = #{calNo} 
    </update>
    
</mapper>