<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="enquire">

<resultMap type="com.itkey.service.common.Criteria" id="Criteria"></resultMap>
<resultMap type="com.itkey.pageutil.PageCriteria" id="PageCriteria"></resultMap>

	<!-- 문의 리스트 고객-->
	<select id="listEnquire" resultType="EnquireVo" parameterType="PageCriteria" >
		SELECT
		*
		FROM
			enquire
	 WHERE
			delyn = 'N' and writer = #{keyword}
			<!--and service_code = #{code}  -->
		ORDER BY
			seq DESC
		limit #{start}, #{end}
	</select>

	<!-- 문의 리스트 -->
	<select id="listCountEnquire" resultType="int" >
		SELECT
			count(1)
		FROM
			enquire
		WHERE
			delyn = 'N' and writer = #{keyword}

	</select>
	<!-- 문의 등록 -->

	<insert id="insertAsk" parameterType="EnquireVo">
		INSERT INTO enquire (
			title,
			writer,
			question,
			q_date,
			delyn,
			service_code
			)
		values
			(#{title}, #{writer}, #{question}, now(),'N', #{service_code})

	</insert>



	<!-- 문의 리스트 관리자 -->
	<select id="listAdminEnquire" resultType="EnquireVo" parameterType="Criteria">
		SELECT
			seq,
			title,
			writer,
			answer,
			q_date as qdate,
			a_date as adate,
			delyn
		FROM
			enquire
		WHERE
			1=1
			<if test="serviceCode != ''">
				<include refid="serviceCode"></include>
			</if>
		ORDER BY
			seq DESC, answer
	</select>

	<!-- 해지요청 리스트(미처리만) 관리자 -->
	<select id="listAdminECS" resultType="EnquireVo" parameterType="Criteria">
		SELECT
			seq,
			title,
			writer,
			answer,
			q_date as qdate,
			a_date as adate,
			delyn
		FROM
			cancel_enquire
		WHERE
			answer IS NULL
			<if test="serviceCode != ''">
				<include refid="serviceCode"></include>
			</if>
		ORDER BY
			seq
	</select>

	<!-- 대기중인 문의 내역 건수 -->
	<select id="untreatedEnqCnt" resultType="int" parameterType="Criteria">
		SELECT
			count(1)
		FROM
			enquire
		WHERE
			answer IS NULL
			<if test="serviceCode != ''">
				<include refid="serviceCode"></include>
			</if>
	</select>

	<!-- 대기중인 해지 요청 건수 -->
	<select id="untreatedEnqCsCnt" resultType="int" parameterType="Criteria">
		SELECT
			count(1)
		FROM
			cancel_enquire
		WHERE
			answer IS NULL
			<if test="serviceCode != ''">
				<include refid="serviceCode"></include>
			</if>
	</select>

	<!--1대1 문의 상세보기-->
	<select id="detailEnquire" resultType="EnquireVo">
		SELECT
			seq,
			title,
			writer,
			question,
			answer,
			q_date as qdate,
			delyn
		FROM
			enquire
		WHERE seq = #{seq}
	</select>



	<insert id="registerEnqireCS" parameterType="EnquireVo">
		INSERT INTO cancel_enquire (
			title,
			writer,
			question,
			q_date,
			delyn,
			service_code
			)
		values
			(#{title}, #{writer}, #{question}, now(),'N', #{service_code})

	</insert>

	<select id="getCScount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			cancel_enquire
		WHERE
			writer = #{id} AND a_date is null
	</select>

	<!-- 답변등록 -->
	<update id="enquireAnswer">
		UPDATE
			enquire
		SET
			answer = #{answer},
			a_date = now()
		WHERE seq = #{seq}
	</update>

	<!-- 답변등록 -->
	<update id="enquireAnswerCS">
		UPDATE
			cancel_enquire
		SET
			answer = #{answer},
			a_date = now()
		WHERE seq = #{seq}
	</update>

	<!-- 문의글 삭제 -->
	<update id="enquireDelete">
		UPDATE
			enquire
		SET
			delyn = 'Y'
		WHERE seq = #{seq}
	</update>

	<!-- 고객 결제내역 가져오기 -->
	<!-- <select id="historyCredit" resultType="CreditDTO">
		SELECT
			seq,
			id,
			itemname,
			amount,
			credit_date
		FROM
			credit
		WHERE id = #{id}
	</select> -->

	<!-- 검색타입 -->
	<sql id="serviceCode">
		<choose>
			<when test="serviceCode == 'MS'.toString()">
				AND service_code LIKE CONCAT('%',#{serviceCode},'%')
			</when>
			<when test="serviceCode == 'ALL'.toString()">

			</when>
		</choose>
	</sql>

	<!-- 문의내역 확인 -->
	<select id="enquireDetail" parameterType="HashMap" resultType="com.itkey.enquire.EnquireVo">
		SELECT
			  seq
			, title
			, writer
			, question
			, answer
			, q_date
			, a_date
			, delyn
			, service_code
		FROM ENQUIRE
		WHERE SEQ = #{seq}
	</select>

	<!-- 서비스 해지 글쓰기 -->
	<insert id="insertCancel" parameterType="EnquireVo">
		INSERT INTO cancel_enquire (
			title,
			writer,
			question,
			q_date,
			delyn,
			service_code
			)
		values
			(#{title}, #{writer}, #{question}, now(),'N', #{service_code})

	</insert>
</mapper>