<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<resultMap id="memberVo" type="com.itkey.member.service.MemberVo"></resultMap>

	<select id="memberLogin" parameterType="memberVo" resultType="memberVo">
		select phone, pwd from member
	</select>

	
</mapper>
