<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<resultMap id="memberVo" type="com.itkey.member.service.MemberVo"></resultMap>
	<resultMap id="drugShapeVo" type="com.itkey.controller.DrugShapeVo"></resultMap>

	<!-- 아이디 일치(존재) 여부 -->
	<select id="idChk" resultType="int">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone}
	</select>

	<!-- 아이디 일치(존재)/DEl='Y' 여부 -->
	<select id="idChk_DEL" resultType="int">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone} and DEL_YN = 'Y'
	</select>

	<!--  getSalt -->
	<select id="getSalt" resultType="String">
		SELECT salt
		FROM
		MEMBER
		WHERE
		phone = #{phone}
	</select>

	<!-- 아이디/비밀번호 일치 여부 -->
	<select id="loginChk" resultType="int" parameterType="MemberVo">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone} and pwd = #{pwd}
	</select>

	<!-- 아이디/비밀번호 일치 여부 => 탈퇴한 아이디 -->
	<select id="loginChk_del" resultType="int" parameterType="MemberVo">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone} and pwd = #{pwd} and DEL_YN = 'Y'
	</select>
	
	<!-- 아이디/비밀번호 일치 여부 확인 후 해당 아이디로 로그인하여 회원정보 가져오기 -->
	<select id="loginDo" resultType="memberVo">
		SELECT *
		FROM MEMBER
		WHERE
		phone = #{phone}
	</select>
	
	<insert id="insertMem" parameterType="HashMap">
		<if test='joinPath == "1"'>
		INSERT INTO MEMBER
		(
			phone
			, pwd
			, email
			, join_date
			, join_path
			, del_yn
			, auth
			, service_code
		) VALUES(
			#{phone}
			, #{pwd}
			, #{email}
			, now()
			, #{joinPath}
			, 'N'
			, 'USER'
			, 'MS'
		)
	</if>
	<if test='joinPath == "2"'>
		INSERT INTO MEMBER
		(phone
			, cuid
			, pwd
			, email
			, join_date
			, join_path
			, subscribe
			, pay_yn
			, sub_date
			, end_sub_date
			, del_yn
			, auth
			, service_code
		) VALUES(
			#{phone}
			, #{cuid}
			, #{pwd}
			, #{email}
			, now()
			, #{joinPath}
			, 'Y'
			, 'Y'
			, DATE_FORMAT(now(), '%Y년%m월%d일%H시')
			, DATE_FORMAT(DATE_ADD(now(), interval 7 day), '%Y년%m월%d일%H시')
			, 'N'
			, 'USER'
			, 'MS'
		)
		</if>
	</insert>
	
	<insert id="insertCredit" parameterType="HashMap">
		INSERT INTO CREDIT
		(
			id
			,itemname
			,merchant_uid
			,amount
			,credit_date
			,service_code
		)
		VALUES(
			#{phone}
			,#{itemTitle}
			,#{muid}
			,#{itemPrice}
			,now()
			,'MS'
		)
	</insert>
	
	<!-- 정기결제 후 결제일, 다음결제일 수정 -->
	<update id="updateSub">
		UPDATE 
			member 
		SET 
			cuid = #{cuid},
			subscribe = 'Y',
			sub_date = date_format(NOW(), '%Y년%m월%d일%h시'),  
			end_sub_date = date_format(DATE_ADD(NOW(), INTERVAL 1 MONTH),'%Y년%m월%d일%h시')
		WHERE phone = #{phone}
	</update>
	
	<insert id="dataGogo" parameterType="DrugShapeVo">
		insert into test
			(ITEM_SEQ,
			  ITEM_NAME,
			  ENTP_SEQ ,
			  ENTP_NAME,
			  CHART,
			  ITEM_IMAGE,
			  PRINT_FRONT,
			  PRINT_BACK,
			  DRUG_SHAPE,
			  COLOR_CLASS1,
			  COLOR_CLASS2,
			  LINE_FRONT,
			  LINE_BACK,
			  LENG_LONG,
			  LENG_SHORT,
			  THICK,
			  IMG_REGIST_TS,
			  CLASS_NO,
			  CLASS_NAME,
			  ETC_OTC_NAME,
			  ITEM_PERMIT_DATE,
			  FORM_CODE_NAME,
			  MARK_CODE_FRONT_ANAL,
			  MARK_CODE_BACK_ANAL,
			  MARK_CODE_FRONT_IMG,
			  MARK_CODE_BACK_IMG,
			  CHANGE_DATE,
			  MARK_CODE_FRONT,
			  MARK_CODE_BACK,
			  ITEM_ENG_NAME,
			  EDI_CODE)
			  VALUES
			  (
			  	#{itemSeq}
			  	,#{itemName}
			  	,#{entpSeq}
			  	,#{entpName}
			  	,#{chart}
			  	,#{itemImage}
			  	,#{printFront}
			  	,#{printBack}
			  	,#{drugShape}
			  	,#{colorClass1}
			  	,#{colorClass2}
			  	,#{lineFront}
			  	,#{lineBack}
			  	,#{lengLong}
			  	,#{lengShort}
			  	,#{thick}
			  	,#{imgRegistTs}
			  	,#{classNo}
			  	,#{className}
			  	,#{etcOtcName}
			  	,#{itemPermitDate}
			  	,#{formCodeName}
			  	,#{markCodeFrontAnal}
			  	,#{markCodeBackAnal}
			  	,#{markCodeFrontImg}
			  	,#{markCodeBackImg}
			  	,#{changeDate}
			  	,#{markCodeFront}
			  	,#{markCodeBack}
			  	,#{itemEngName}
			  	,#{edlCode}
			  )
			  
	</insert>
</mapper>
