<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<resultMap id="memberVo" type="com.itkey.member.service.MemberVo"></resultMap>

	<!-- 아이디 일치(존재) 여부 -->
	<select id="idChk" resultType="int">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone}
	</select>

	<!-- 아이디 일치(존재)/DEl='Y' 여부 -->
	<select id="idChk_DEL" resultType="int">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone} and DEL_YN = 'Y'
	</select>

	<!--  getSalt -->
	<select id="getSalt" resultType="String">
		SELECT salt
		FROM
		MEMBER
		WHERE
		phone = #{phone}
	</select>

	<!-- 아이디/비밀번호 일치 여부 -->
	<select id="loginChk" resultType="int" parameterType="MemberVo">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone} and pwd = #{pwd}
	</select>

	<!-- 아이디/비밀번호 일치 여부 => 탈퇴한 아이디 -->
	<select id="loginChk_del" resultType="int" parameterType="MemberVo">
		SELECT count(1)
		FROM
		MEMBER
		WHERE
		phone = #{phone} and pwd = #{pwd} and DEL_YN = 'Y'
	</select>
	
	<!-- 아이디/비밀번호 일치 여부 확인 후 해당 아이디로 로그인하여 회원정보 가져오기 -->
	<select id="loginDo" resultType="memberVo">
		SELECT *
		FROM MEMBER
		WHERE
		phone = #{phone}
	</select>
	
	<insert id="insertMem" parameterType="HashMap">
		<if test='joinPath == "1"'>
		INSERT INTO MEMBER
		(
			phone
			, pwd
			, email
			, join_date
			, join_path
			, del_yn
			, auth
			, service_code
		) VALUES(
			#{phone}
			, #{pwd}
			, #{email}
			, now()
			, #{joinPath}
			, 'N'
			, 'USER'
			, 'MS'
		)
	</if>
	<if test='joinPath == "2"'>
		INSERT INTO MEMBER
		(phone
			, cuid
			, pwd
			, email
			, join_date
			, join_path
			, subscribe
			, pay_yn
			, sub_date
			, end_sub_date
			, del_yn
			, auth
			, service_code
		) VALUES(
			#{phone}
			, #{cuid}
			, #{pwd}
			, #{email}
			, now()
			, #{joinPath}
			, 'Y'
			, 'Y'
			, DATE_FORMAT(now(), '%Y년%m월%d일%H시')
			, DATE_FORMAT(DATE_ADD(now(), interval 7 day), '%Y년%m월%d일%H시')
			, 'N'
			, 'USER'
			, 'MS'
		)
		</if>
	</insert>
	
	<insert id="insertCredit" parameterType="HashMap">
		INSERT INTO CREDIT
		(
			id
			,itemname
			,merchant_uid
			,amount
			,credit_date
			,service_code
		)
		VALUES(
			#{phone}
			,#{itemTitle}
			,#{muid}
			,#{itemPrice}
			,now()
			,'MS'
		)
	</insert>
	
	<!-- 정기결제 후 결제일, 다음결제일 수정 -->
	<update id="updateSub">
		UPDATE 
			member 
		SET 
			subscribe = 'Y',
			sub_date = date_format(NOW(), '%Y년%m월%d일%h시'),  
			end_sub_date = date_format(DATE_ADD(NOW(), INTERVAL 1 MONTH),'%Y년%m월%d일%h시')
		WHERE phone = #{phone}
	</update>
</mapper>
