<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">


	<!-- 충전할 시 payment테이블에 insert -->
	<insert id="insertPayment" parameterType="PayMentDTO">
		INSERT INTO payment_tb (
			MEM_IDX, 
			pmt_product, 
			pmt_product_qty, 
			pmt_product_amt, 
			pmt_date, 
			pmt_product_cd,
			pmt_aid,
			pmt_tid,
			created_at,
			approved_at
		)
		VALUES(
			#{memIdx},
			#{pmtProduct},
			#{pmtProductQty},
			#{pmtProductAmt},
			NOW(),
			#{pmtProductCd},
			#{pmtAid},
			#{pmtTid},
			date_sub(#{createdAt}, INTERVAL 9 hour),
			date_sub(#{approvedAt}, INTERVAL 9 hour)
		)
	</insert>
	
	<select id="BatchKakaoPayPeriodicMember" resultType="PayMentDTO">		
		SELECT p.*, m.kakao_sid  
		FROM payment_tb p
		INNER JOIN member_tb m ON p.mem_idx = m.mem_idx
		WHERE (
		      <![CDATA[ (p.pmt_product = 'prm' AND DATE_ADD(DATE(p.pmt_date), INTERVAL 1 MONTH) <= DATE(NOW())) ]]>
		    OR <![CDATA[  (p.pmt_product = 'first' AND DATE_ADD(DATE(p.pmt_date), INTERVAL 7 DAY) <= DATE(NOW()))]]>
		)
		AND m.payment_r_yn = 'Y'
		AND p.pmt_date = (
		    SELECT MAX(pmt_date)
		    FROM payment_tb
		    WHERE pmt_product = 'prm' AND mem_idx = p.mem_idx
		    or pmt_product = 'first' AND mem_idx = p.mem_idx
		)
		AND m.kakao_sid   IS NOT NULL
		GROUP BY p.mem_idx, p.pmt_date, m.kakao_sid  
		ORDER BY p.pmt_date DESC
		LIMIT 0, 1000;
	</select>
	
	<insert id="ImportPeriodic" parameterType="PayMentDTO">
		INSERT INTO payment_tb (
			MEM_IDX, 
			pmt_product, 
			pmt_product_qty, 
			pmt_product_amt, 
			pmt_date, 
			pmt_product_cd
		)
		VALUES(
			#{memIdx},
			#{pmtProduct},
			#{pmtProductQty},
			#{pmtProductAmt},
			NOW(),
			#{pmtProductCd}
		)
	</insert>
	
	<select id="BatchImportPeriodicMember" resultType="PayMentDTO">
		SELECT p.*, m.customer_uid 
		FROM payment_tb p
		INNER JOIN member_tb m ON p.mem_idx = m.mem_idx
		WHERE (
		    <![CDATA[ (p.pmt_product = 'prm' AND DATE_ADD(DATE(p.pmt_date), INTERVAL 1 MONTH) = DATE(NOW())) ]]>
		    OR <![CDATA[  (p.pmt_product = 'first' AND DATE_ADD(DATE(p.pmt_date), INTERVAL 7 DAY) = DATE(NOW()))]]>
		)
		AND m.payment_r_yn = 'Y'
		AND p.pmt_date = (
		    SELECT MAX(pmt_date)
		    FROM payment_tb
		    WHERE pmt_product = 'prm' AND mem_idx = p.mem_idx
		    or pmt_product = 'first' AND mem_idx = p.mem_idx
		)
		AND m.customer_uid IS NOT NULL
		GROUP BY p.mem_idx, p.pmt_date, m.customer_uid 
		ORDER BY p.pmt_date DESC
		LIMIT 0, 1000; 
	</select>
	
</mapper>