<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recom">

	<resultMap type="com.itkey.sam.homepage.dto.RecommendMemberDTO" id="recomMap">
		<result property="memIdx" column="MEM_IDX"/>
		<result property="memEmail" column="MEM_EMAIL"/>
		<result property="memPw" column="MEM_PW"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memPhone" column="MEM_PHONE"/>
		<result property="memGender" column="MEM_GENDER"/>
		<result property="memBirth" column="MEM_BIRTH"/>
		<result property="memAddr" column="MEM_ADDR"/>
		<result property="memMbti" column="MEM_MBTI"/>
		<result property="memProfile" column="MEM_PROFILE"/>
		<result property="fileIdx" column="FILE_IDX"/>
		<result property="fileOname" column="FILE_ORIGINAL_NAME"/>
		<result property="fileCname" column="FILE_CHANGED_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	
	<select id="getRecomFriendsList" parameterType="com.itkey.sam.homepage.dto.RecommendDTO" resultMap="recomMap">
		SELECT 	A.MEM_IDX,
				A.MEM_EMAIL, 
				A.MEM_PW, 
				A.MEM_NAME,
				A.MEM_PHONE, 
				A.MEM_GENDER, 
				A.MEM_BIRTH, 
				A.MEM_ADDR, 
				A.MEM_MBTI, 
				A.MEM_PROFILE, 
				B.FILE_IDX, 
				B.FILE_ORIGINAL_NAME,
				B.FILE_CHANGED_NAME,
				B.FILE_PATH 	
		FROM 	MEMBER_TB A
				LEFT OUTER JOIN FILE_TB B
		    	ON A.FILE_IDX = B.FILE_IDX 
		WHERE 	<!-- A.MEM_GENDER = #{recomGender} -->
				1=1
				AND A.MEM_ADDR = #{region}
				AND (A.MEM_MBTI = #{recomMbti1} OR A.MEM_MBTI = #{recomMbti2})
				AND A.WTHDR_YN = 'N'
	</select>
	
	<select id="getRandomRecommendFriendsList" parameterType="com.itkey.sam.homepage.dto.RandomRecomDTO" resultMap="recomMap">
		SELECT 	A.MEM_IDX,
				A.MEM_EMAIL, 
				A.MEM_PW, 
				A.MEM_NAME,
				A.MEM_PHONE, 
				A.MEM_GENDER, 
				A.MEM_BIRTH, 
				A.MEM_ADDR, 
				A.MEM_MBTI, 
				A.MEM_PROFILE, 
				B.FILE_IDX, 
				B.FILE_ORIGINAL_NAME,
				B.FILE_CHANGED_NAME,
				B.FILE_PATH 	
		FROM 	MEMBER_TB A
				LEFT OUTER JOIN FILE_TB B
		    	ON A.FILE_IDX = B.FILE_IDX 
		WHERE 	A.MEM_IDX = #{idx1}
				OR A.MEM_IDX = #{idx2}
				OR A.MEM_IDX = #{idx3}
				OR A.MEM_IDX = #{idx4}
	</select>
	
	<select id="getRecomFriendsCount" parameterType="com.itkey.sam.homepage.dto.RecommendDTO" resultType="int">
		SELECT 	COUNT(*)	
		FROM 	MEMBER_TB
		WHERE 	<!-- MEM_GENDER = #{recomGender} -->
				1=1
				AND MEM_ADDR = #{region}
				AND (MEM_MBTI = #{recomMbti1} OR MEM_MBTI = #{recomMbti2})
				AND WTHDR_YN = 'N'
	</select>
	
	<select id="getRecomFriendsIdx" parameterType="com.itkey.sam.homepage.dto.RecommendDTO" resultType="int">
		SELECT 	MEM_IDX
		FROM 	MEMBER_TB
		WHERE 	<!-- MEM_GENDER = #{recomGender} -->
				1=1
				AND MEM_ADDR = #{region}
				AND (MEM_MBTI = #{recomMbti1} OR MEM_MBTI = #{recomMbti2})
				AND WTHDR_YN = 'N'
	</select>
	
	<update id="modifyProfile" parameterType="com.itkey.sam.homepage.dto.MemberDTO">
		UPDATE	MEMBER_TB
		SET		MEM_PROFILE = #{memProfile}
		WHERE	MEM_IDX = #{memIdx}
	</update>
	
	<select id="selectMemberProfile" parameterType="int" resultType="String">
		SELECT	MEM_PROFILE
		FROM	MEMBER_TB
		WHERE	MEM_IDX = #{memIdx}
	</select>
	
	<select id="selectDetailProfile" parameterType="int" resultMap="recomMap">
		SELECT 	A.MEM_IDX,
				A.MEM_EMAIL, 
				A.MEM_PW, 
				A.MEM_NAME,
				A.MEM_PHONE, 
				A.MEM_GENDER, 
				A.MEM_BIRTH, 
				A.MEM_ADDR, 
				A.MEM_MBTI, 
				A.MEM_PROFILE, 
				B.FILE_IDX, 
				B.FILE_ORIGINAL_NAME,
				B.FILE_CHANGED_NAME,
				B.FILE_PATH 	
		FROM 	MEMBER_TB A
				LEFT OUTER JOIN FILE_TB B
		    	ON A.FILE_IDX = B.FILE_IDX 
		WHERE 	A.MEM_IDX = #{memIdx}
	</select>
</mapper>